*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
@media (max-width: 650px){

.ewYWpk {
    margin: 5rem auto;
    width: 90%;
}
.ewYWpk h1 {
    max-width: 11ch;
    font-size: 43px;
}
.ull {
    /* margin-left: -25px; */
    display: flex;
    font-size: 20px; 
}
.lii span{
    font-size: 170px;
}
.iaIrkk{
   width: 100%;
   padding: 20px;
   margin-left: 0;
}
.iyVglM{
    width: 100%;
}
.ewYWpk h2 p {
    font-size: 20px;
}
.gkmavN{
/* margin-top: 30px; */
margin-left: 0;
font-size: 25px;

}

.gmoqIO {
    top: 27%;
}
.iUgDtF{
margin-left: 0;
}
.jsILAK p{
    font-size: 27px;
    font-weight: 900;
    /* margin-top: -250px; */
    /* padding-top: 150px; */
}
.jsILAK p strong{
    font-weight: 900;
}
/* .jsILAK {
    margin-bottom: 10px;
} */
.fzvQYg{
    padding: 0px ;
}
.iApiFE{
    left: -1.4rem;
    font-size: 9px;
}
.gEUhAT{
    font-size: 25px;
    font-weight: 800;
    /* margin-top: -115px; */
    padding-top: 0;
}
.ekewUD{
    width: 100%;
}
.ebuHcF{
    margin-top: -85px;
}
.dFXLop{
    width: 275px
}
.kmwYW{
    display: block;
}
.lfdmct{
    width: 100%;
    margin-top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.losBaI{
    width: 100%;
}
.kmRuLX{
    font-size: 29px;
    margin-left: 0;
    text-align: center;
}
.kmwYW{
    padding-top: 20px;
}
.fpQsSy {
 
    padding: 4.5rem 8% 0rem;

}
.gaWkdF {
    width: 100%;
    max-width: 99%;
}
.cpKmRL {
    max-width: 85%;
}
.dGZvSn {
    font-size: 36px;
}
.dmOYQm {
    padding: 11rem 0px 5.5rem;
}
/* .demo{
    display: list-item;
} */
.ivtdlH{
    margin-bottom: 10px;
}
.eDpAQB:nth-child(4n+1) {
    width: 100%;
}
.bsKNkf h2{
    font-size: 30px;
}
.eDpAQB {
    width: calc(100% - 2rem);
}
.eDpAQB:nth-child(4n) {
    width: 100%;
}
.gGKxrU {
    width: 49.5%;
    height: 100px;
    margin: 0px;
}
.gowSxm{
    display: block;
    border: none;
}
.cNExhP{
    border: none;
}
.foot{
    width: 100%;
}
.footer2-col{
    margin: 0px 0px 0px 0px;
}
.social-links{
    display: flex;
}
.footer2-col.fc{
    margin-left: 80px !important;
}
.hGHAxY a{
    /* padding: 0.5rem 0.25rem; */
}  
.kgumZa {
    max-width: 100%;
}
.hGHAxY {
    width: calc(100% - 1rem);
    margin-left: 1rem;
    margin-right: 0rem;
}   
.pHXpt{
    font-size: 30px;
} 
.wrappp img{
    width: 100%;
    margin-top: 10px;
    height: auto;
}
.hIyDmE {
    width: calc(100% - 0rem);
}  
.gJNZwu {
    -webkit-box-pack: justify;
    justify-content: space-between;
    margin: 40px 0px 0px;
} 
.gJNZwu {
    flex-wrap: wrap;
}  
.cZkBXq {
    margin-bottom: 5rem;
    /* width: 45%; */
} 
.ebuHcFff{
    font-size: 29px
}
.ZVfqa {
    text-align: justify;
}
.eWGqPs{
    display: block;
}
.fmyQQj{
    /* margin-bottom: 15rem; */
    font-size: 28px;
    width: 338px;
    margin-top: -29%;
}
.dGMEHi {
    margin-top: -10%;
}
.otNoI {
    padding: 1rem 2.5rem;
    font-size: 14px;
}
.eVPTlv {
    font-size: 30px;
    justify-content: center;
    display: flex;
}
.kGvolR{
    display: none;
}
.JdGLl {

    display: contents;
}
.bTXyGy{
    transform: translateY(5%);
    margin-top: 0%;
}
.dGMEHi{
    /* display: none; */
}
.demo {
    margin: 40px 0px 0px 0px;
    /* text-align: center; */
}
.ZSuxQ {
    
    font-size: 16px;
    margin-top: 0rem;
}

.erPLhU{
    width: 100%;
}
.qwwRp .WrapServiceImage-sc-1qlko0j-1 > div:first-of-type {
    margin-left: 0%;
    margin-top: 11%;
}
.whyimg {
width: 100%;
    height: auto;
}
.kDofil {
 
    width: 100%;
}
.iVRipF {

    width: 100%;
}
.qwwRpp {
    font-family: figtree, sans-serif;
    font-size: 22px;
}
.kDofil h2 {
    font-size: 28px;
}
.daHMQn {
display: none;
}
.lii1 span{
    font-size: 130px;
}
.lii2 span{
    font-size: 121px;
}
}

@media (max-width:280px){
    .ewYWpk h1 {
        font-size: 33px;
    }
    .fmyQQj{
        width: 250px;
    }
    .footer2-col.fc{
        margin-left: 25px !important;
    }
    .lii span{
        font-size: 100px;
    }
    .footer-p{
        width: 80px !important;
        font-size: 18px;

    }
    .leftul{
        margin-top: 20%;
    }
    .ZVfqa{
        font-size: 2.5rem;
        margin-left: 1.5rem;
    }
    .lii1 span {
        font-size: 80px;
    }
    .lii2 span {
        font-size: 72px;
    }
    .lii2 span{
        margin-left: 0px;
    }
    .kmRuLX{
        font-size: 23px;
    }
    .kDofil h2 {
        font-size: 25px;
    }
    .btTStV{
        font-size: 30px;
    }
    .pHXpt {
        font-size: 25px;
    }
    .gmoqIO {
        top: 30%;
    }
    .dGMEHi {
        margin-top: -30%;
        font-size: 12px;
        min-width: 10rem;
        margin-left: 30px;
    }
    .ZSuxQ {
        font-size: 15px;
    }
    .ewYWpk {
        margin: 10rem auto;
    }
    .gJNZwu{
        margin: 25px 0px 0px;
    }
    .fpQsSy {
        padding: 1.5rem 8% 0rem;
    }
    .kmwYW{
        margin: 0px auto 1rem;
    }
    .dGZvSn {
        font-size: 30px;
        margin-bottom: 2rem;
    }
    .kgumZa{
        margin: 10px auto;
    }
    .btTStV{
        margin-bottom: 2rem;
    }


}

