*{
    margin: 0;
    padding: 0;
}


/* ====header-starts==== */
.main_container {
    max-width: 740px;
    height: 100%;
    margin: 10px auto 0px auto;
}

.in_container {
    background: #fafafa;
    border-radius: 2px;
    box-shadow: 0 0 6px #c9d1de;
    -webkit-box-shadow: 0 0 6px #c9d1de;
    -moz-box-shadow: 0 0 6px #c9d1de;
    -o-box-shadow: 0 0 6px #c9d1de;
}

.back_link {
    display: block;
    text-decoration: none;
    margin-top: 80px;
    text-align: center;
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: #3E3E3E;
    font-size: 16px;
    letter-spacing: 1px;
}

.back_link .back_arrow_icon {
    vertical-align: middle;
    margin-right: 10px;
}

table {
    font-size: 14px;
    border: 0;
}

img {
    border: none!important;
}

@media only screen and (max-width: 600px) {
    body[yahoo] .full_width_600 {
        width: 90% !important;
    }
}

@media only screen and (max-width: 700px) {
    body[yahoo] .full_width_700 {
        width: 100% !important;
    }
    body[yahoo] .txt_center {
        text-align: center !important;
    }
    body[yahoo] .separator {
        height: 40px !important;
    }
}

.bg-gradient1 span,
.bg-gradient1:before {
    background: #52a0fd;
    background: -moz-linear-gradient(left, #52a0fd 0%, #00e2fa 80%, #00e2fa 100%);
    background: -webkit-linear-gradient(left, #52a0fd 0%, #00e2fa 80%, #00e2fa 100%);
    background: linear-gradient(to right, #52a0fd 0%, #00e2fa 80%, #00e2fa 100%);
}

.bg-gradient3 span,
.bg-gradient3:before {
    background: #fa6c9f;
    background: -moz-linear-gradient(left, #fa6c9f 0%, #ffe140 80%, #ffe140 100%);
    background: -webkit-linear-gradient(left, #fa6c9f 0%, #ffe140 80%, #ffe140 100%);
    background: linear-gradient(to right, #fa6c9f 0%, #ffe140 80%, #ffe140 100%);
}

.wrapper {
    margin: 0% auto;
    text-align: center;
    transform-style: perserve-3d;
    perspecive: 400px;
}

a {
    text-decoration: none;
}

a:hover,
a:focus,
a:active {
    text-decoration: none;
}

.fancy-button {
    display: inline-block;
    margin: 0px;
    font-family: 'Montserrat', Helvetica, Arial, sans-serif;
    font-size: 5px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #fff;
    top: 55%;
    margin-top: -6em;
    width: 100%;
    height: 0.199em;
}

.fancy-button:before {
    content: '';
    display: inline-block;
    height: 20px;
    position: absolute;
    z-index: -1;
    border-radius: 30em;
    filter: blur(20px) brightness(0.95);
    transform-style: preserve-3d;
    transition: all 0.3s ease-out;
}

.fancy-button i {
    font-size: 1em;
    vertical-align: middle;
}

.fancy-button span {
    display: inline-block;
    padding: 13px 60px;
    border-radius: 50em;
    position: relative;
    z-index: 2;
    will-change: transform, filter;
    transform-style: preserve-3d;
    transition: all 0.3s ease-out;
}

.fancy-button:focus,
.fancy-button:active {
    color: #fff;
}

.fancy-button:hover {
    color: #fff;
}

.fancy-button:hover span {
    filter: brightness(1.05) contrast(1.05);
    transform: scale(0.95);
}

.fancy-button:hover:before {
    bottom: 0;
    filter: blur(10px) brightness(0.95);
}

.fancy-button.pop-onhover:before {
    opacity: 0;
    bottom: 10px;
}

.fancy-button.pop-onhover:hover:before {
    bottom: -7px;
    opacity: 1;
    filter: blur(20px);
}

.fancy-button.pop-onhover:hover span {
    transform: scale(1.04);
}

.fancy-button.pop-onhover:hover:active span {
    filter: brightness(1) contrast(1);
    transform: scale(1);
    transition: all 0.15s ease-out;
}

.fancy-button.pop-onhover:hover:active:before {
    bottom: 0;
    filter: blur(10px) brightness(0.95);
    transition: all 0.2s ease-out;
}

*,
*:before,
*:after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


ol,
ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

h1 {
    margin: 1em 0;
}

p {
    margin: 0.9em 0;
    line-height: 1.5;
}

::selection {
    background-color: #e53935;
    color: #eee;
}

.menu-toggle {
    display: none;
}

.mobile-bar {
    z-index: 10;
    position: fixed;
    top: 0;
    left: 0;
    padding: 0 25px;
    /*BAR HOW MUCH IN RIGHT*/
    width: 100%;
    height: 65px;
    background-color: white;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.menu-icon {
    float: right;
    display: block;
    position: relative;
    width: 25px;
    height: 100%;
    cursor: pointer;
    transition: transform 300ms ease-in;
    /*the bar to X*/
}

.menu-icon > span {
    display: block;
    position: absolute;
    top: 55%;
    margin-top: -0.3em;
    width: 100%;
    height: 0.199em;
    border-radius: 1px;
    background-color: #696969;
    transition: transform 300ms ease-in;
}

.menu-icon > span:before,
.menu-icon > span:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 1px;
    background-color: #696969;
    transition: transform 300ms ease;
}

.menu-icon > span:before {
    transform: translateY(-0.6em);
}

.menu-icon > span:after {
    transform: translateY(0.6em);
}


/*need this for bringing down the examples*/

.menu-toggle:checked + .mobile-bar .menu-icon {
    transform: rotate(45deg);
}

.menu-toggle:checked + .mobile-bar span:before,
.menu-toggle:checked + .mobile-bar span:after {
    transform: rotate(90deg);
}


/*needed*/

.menu-toggle:checked ~ .header {
    visibility: visible;
    opacity: 1;
    transition-delay: 0s;
}

.header {
    visibility: hidden;
    opacity: 0;
    position: fixed;
    top: 0;
    left: 0;
    padding-top: 60px;
    width: 100%;
    height: 100%;
    /* background-color: #eee; */
    padding-right: 5.7px;
    color: #eee;
    transition: opacity 300ms ease-in, visibility 0s ease-in 300ms;
    font-family: figtree,sans-serif;
}

.header nav,
.header ul {
    height: 100%;
}

.header li {
    border-bottom: 1px solid #eee;
    color: #505050;
    /*text on navbar*/
    font-weight: 430;
    line-height: 2.4;
    /*height of the navbar*/
    font-size: 15px;
    letter-spacing: 0.2px;
    font-weight: 600;
}

.header li:hover {
    color: #696969;
    transition: color 300ms ease-in;
}

.header a {
    display: block;
    padding: 25px;
    transition: background-color 300ms ease-in;
}

.navbar-brand {
    padding: 0px;
}

.navbar-brand>img {
    height: 40px;
    width: auto;
    z-index: 10;
    position: fixed;
    top: 13.45px;
    left: 0;
    padding: 0 25px;
    /*BAR HOW MUCH IN RIGHT*/
    background-color: white;
}

.test {
    top: 0;
    width: 100%;
    position: fixed;
}

@media (min-width: 1000px) {
    .mobile-bar {
        display: none;
    }
    .header {
        z-index: 5;
        position: relative;
        left: 0;
        padding-top: 0;
        width: 100%;
        height: 75px;
        overflow: auto;
        visibility: visible;
        opacity: 1;
        text-align: right;
    }
    .header li {
        display: inline-block;
        margin-right: -6px;
        /* fix the inline-block gap */
        border: none;
        text-align: left;
    }
    .header a {
        padding: 15px 35px;
        font-weight: 700;
    font-size: 16px;
        /*header height and text spacing*/
    }
}
/* ====header-ends==== */

/* ============= */
.ull {
    padding: 0;
    margin-left: 70px;
  }
  .lii {
    display: inline-block;
    list-style-type: none;
    margin: 0 20px;
  }
  .lii span {
    font-family: Verdana;
    font-weight: bold;
    font-size: 200px;
    display: inline-block;
    cursor: pointer;
    padding: 0;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: linear-gradient(to right, #8f85ee, #13cec8, #fc56c6, #b270fe);
    background-size: 400% 100%;
    transition: background-position 0.5s;
    margin-left: 10px;
  }
  .lii span:hover {
    background-position: 100% 0;
  }



.main{
    margin-top: 10%;
}
.hwTFWH {
    position: relative;
    min-height: 100vh;
    height: auto;
    overflow: hidden;
}
.ewYWpk {
    position: absolute;
    width: calc(50% - 12rem);
    height: auto;
    top: 18%;
    right: 10rem;
    /* transform: translateY(-50%); */
}
.ewYWpk h1 {
    color: rgb(55, 55, 55);
    font-family: Sofia, sans-serif;
    font-size: 74px;
    line-height: 0.95;
    letter-spacing: -0.075rem;
    max-width: 14ch;
    margin-bottom: 25px;
}
.ewYWpk h2 p {
    color: rgb(55, 55, 55);
    font-family: Circular, sans-serif;
    font-weight: 300;
    font-size: 24px;
    line-height: 1.5;
    max-width: 35ch;
    letter-spacing: -0.075rem;
}
.ewYWpk h2 p strong {
    color: rgb(247, 78, 161);
    font-weight: 300;
}

/* ========= */
.ivtdlH {
    width: 100%;
    margin-bottom: 25rem;
    display: flex;
    flex-wrap: wrap;
    -webkit-box-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    align-items: center;
}
.iyVglM {
    width: 50%;
    position: relative;
}

.iyVglM::before {
    display: block;
    content: "";
    width: 100%;
    padding-top: 100%;
}

.dhtkYn {
    width: 100%;
    height: 100%;
    overflow: hidden;
    will-change: transform;
}

.iyVglM > * {
    position: absolute;
}
.iyVglM > * {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    object-fit: cover;
}

.biFkxN {
    /* position: absolute; */
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    will-change: transform;
}

.bSLoOu {
    object-fit: cover;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.biFkxN::after {
    content: "";
    position: absolute;
    z-index: 5;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: rgb(247, 78, 161);
    mix-blend-mode: screen;
    opacity: 0;
    transition: opacity 0.25s ease-in-out 0s;
}

.iyVglM::after {
    content: "";
    display: block;
    opacity: 0;
}

.iaIrkk {
    width: 40%;
    margin-left: 5%;
}

.gkmavN {
    color: rgb(55, 55, 55);
    font-family: Sofia, sans-serif;
    font-size: 38px;
    letter-spacing: -0.075rem;
    margin-left: 2.5rem;
    /* max-width: 14ch; */
    font-weight: 900;
}

.iUgDtF {
    color: rgb(55, 55, 55);
    font-family: Circular, sans-serif;
    font-weight: 300;
    font-size: 19px;
    line-height: 1.75;
    display: inline-block;
    margin-top: 1rem;
    margin-left: 2.5rem;
}
/* ===== */

.gaWkdF {
    width: 100%;
    max-width: 80%;
    margin: 0px auto 15rem;
    display: flex;
    flex-wrap: wrap;
    -webkit-box-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    align-items: center;
}

.jsILAK {
    display: inline-block;
    margin-top: -10rem;
    margin-bottom: 5rem;
}

.jsILAK p {
    font-family: Sofia, sans-serif;
    font-size: 63px;
    line-height: 1.1;
    color: rgb(55, 55, 55);
    /* max-width: 28ch; */
}

.jsILAK p strong {
    color: rgb(247, 78, 161);
    font-weight: 300;
}

.ebuHcF {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
}

.ekewUD {
    width: 35%;
}


.fzvQYg {
    position: relative;
    margin: 0rem 0px;
    padding: 5rem 0px;
}

.gEUhAT {
    position: relative;
    font-family: Sofia, sans-serif;
    font-size: 36px;
    font-weight: 900;
    color: #373737;
}

.iApiFE {
    position: absolute;
    top: 0.2rem;
    left: -3rem;
    font-family: Circular, sans-serif;
    letter-spacing: 0.2rem;
    color: rgb(247, 78, 161);
    font-size: 17px;
}

.dFXLop {
    font-family:  Figtree, sans-serif;
    color: rgb(55, 55, 55);
    font-size: 22px;
}

.iPtnXq {
    width: 100%;
    position: relative;
    display: none;
}

.DTFuP {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    overflow: hidden;
    will-change: transform;
}

.isAVjN {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    will-change: transform;
}

.gatsby-image-wrapper * {
    transition: opacity 500ms ease 0s !important;
}

h4 {
    margin: 0px 0px 1.45rem;
    padding: 0px;
    color: inherit;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    font-weight: bold;
    text-rendering: optimizelegibility;
    font-size: 1rem;
    line-height: 1.1;
}


  
  /* ======= */
  .cKAemC {
    position: relative;
    margin: 0px auto;
    background-color: rgb(36, 36, 36);
    transition: background-color 0.35s ease-in-out 0s;
}
.gYqtVg {
    width: 100%;
    /* height: 100%; */
}
.kmwYW {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    padding-top: 15rem;
    margin: 0px auto 10rem;
    max-width: 80%;
}
.lfdmct {
    width: 41%;
    margin-bottom: 2.5rem;
}
.lfdmct img {
    width: 80%;
    margin-right: 0px;
    float: right;
}

.losBaI {
    margin-bottom: 0%;
    width: 45%;
}
.kmRuLX {
    color: rgb(255, 255, 255);
    font-family: Sofia, sans-serif;
    font-size: 50px;
    letter-spacing: -0.075rem;
    margin-left: 2.5rem;
    margin-top: 0.5rem;
    margin-bottom: 3rem;
}

.ezlIK {
    display: flex;
    flex-flow: wrap;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    margin: 0px auto;
    max-width: 80%;
    padding-bottom: 10rem;
    padding-top: 1rem;
}

.eDpAQB:nth-child(4n+1) {
    width: 47%;
    padding: 0px 1rem;
    margin-bottom: 5rem;
}
.eDpAQB:nth-child(4n+1) .WrapWorkImage-sc-79f8bw-6 {
    position: relative;
}
.hfDJzY {
    top: 0px;
    left: 0px;
}

.eDpAQB:nth-child(4n+1) .WrapWorkImage-sc-79f8bw-6::before {
    display: block;
    content: "";
    width: 100%;
    padding-top: 138.819%;
}
.eDpAQB:nth-child(4n+1) .WrapWorkImage-sc-79f8bw-6 > * {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    object-fit: cover;
}

.DTFuP {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    overflow: hidden;
    will-change: transform;
}

.jrBTNW {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    will-change: transform;
}

.haagBN {
    position: absolute;
    height: 100%;
    z-index: 1;
}
.gatsby-image-wrapper * {
    transition: opacity 500ms ease 0s !important;
}

/* .jrBTNW::after {
    content: "";
    position: absolute;
    z-index: 5;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: rgb(247, 78, 161);
    mix-blend-mode: screen;
    opacity: 0;
    transition: opacity 0.25s ease-in-out 0s;
} */
.bsKNkf {
    margin-top: 2.5rem;
}
.bsKNkf span {
    color: rgb(247, 78, 161);
    font-family: Circular, sans-serif;
    font-weight: 700;
    font-size: 12px;
    letter-spacing: 0.22rem;
    text-transform: uppercase;
    margin-right: 1.5rem;
    display: inline-block;
    line-height: 1.75;
}
.bsKNkf h2 {
    color: rgb(255, 255, 255);
    font-family: Sofia, sans-serif;
    font-size: 50px;
    letter-spacing: -0.075rem;
    transition: color 0.25s ease 0s;
    margin-top: 1rem;
}

.bsKNkf p {
    color: rgb(255, 255, 255);
    font-family: Figtree, sans-serif;
    font-weight: 300;
    font-size: 16px;
    margin-top: 2%;
}
.eDpAQB {
    width: calc(49% - 2rem);
}
.eDpAQB .WrapWorkImage-sc-79f8bw-6::before {
    display: block;
    content: "";
    width: 100%;
    padding-top: 87.3371%;
}
.eDpAQB .WrapWorkImage-sc-79f8bw-6 > * {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    object-fit: cover;
}

.eDpAQB {
    width: calc(49% - 2rem);
    text-decoration: none;
}
.eDpAQB .WrapWorkImage-sc-79f8bw-6 {
    position: relative;
}

.eDpAQB .WrapWorkImage-sc-79f8bw-6::before {
    display: block;
    content: "";
    width: 100%;
    padding-top: 87.3371%;
}
.eDpAQB:nth-child(4n) {
    width: 47%;
    padding: 0px 1rem;
    margin-bottom: 5rem;
}
.eDpAQB:nth-child(4n) .WrapWorkImage-sc-79f8bw-6::before {
    display: block;
    content: "";
    width: 100%;
    padding-top: 138.819%;
}
.eDpAQB:nth-child(4n+1) {
    width: 47%;
    padding: 0px 1rem;
    margin-bottom: 5rem;
}
.eDpAQB:nth-child(4n+1) .WrapWorkImage-sc-79f8bw-6 {
    position: relative;
}
.eDpAQB:nth-child(4n+1) .WrapWorkImage-sc-79f8bw-6::before {
    display: block;
    content: "";
    width: 100%;
    padding-top: 138.819%;
}
.eDpAQB:nth-child(4n+1) .WrapWorkImage-sc-79f8bw-6 > * {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    object-fit: cover;
}
.eDpAQB .WrapWorkImage-sc-79f8bw-6::before {
    display: block;
    content: "";
    width: 100%;
    padding-top: 87.3371%;
}
.eDpAQB .WrapWorkImage-sc-79f8bw-6 > * {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    object-fit: cover;
}

.imgg{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    /* height: 100%; */
    object-fit: cover;
    object-position: 50% 50%;
    opacity: 1;
    transition: none 0s ease 0s;
    font-family: "object-fit: cover; object-position: 50% 50%";
}

/* ===== */
.dmOYQm {
    width: 100%;
    margin-bottom: 2.5rem;
    padding: 10rem 0px 12.5rem;
}
.iaycda {
    display: block;
    width: 100%;
    max-width: 80%;
    margin: 0px auto;
}
.dGZvSn {
    color: var(--darkgrey);
    font-family: Sofia, sans-serif;
    font-size: 50px;
    letter-spacing: -0.075rem;
    margin-bottom: 4rem;
    text-align: center;
}
.eyophW {
    display: flex;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    justify-content: center;
    width: 100%;
    max-width: 125rem;
    margin: 0px auto;
}

.gGKxrU {
    width: 14.5%;
    margin: 2rem 2rem 4rem;
    height: 60px;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
}

.gGKxrU img {
    max-height: 100%;
    max-width: 70%;
    margin-bottom: 0px;
}
/* ====== */

.cmajec {
    width: 100%;
    margin-bottom: 2.5rem;
    padding: 0rem 0px;
}
.kgumZa {
    display: block;
    width: 100%;
    max-width: 80%;
    margin: 0px auto;
}
.btTStV {
    color: rgb(55, 55, 55);
    font-family: Sofia, sans-serif;
    font-size: 42px;
    letter-spacing: -0.075rem;
    margin-bottom: 4rem;
}
.gowSxm {
    display: flex;
    /* flex-wrap: wrap; */
    -webkit-box-pack: start;
    justify-content: flex-start;
    margin: 0px auto;
    max-width: 82%;
    width: 100%;
}
.cNExhP {
    width: 30%;
    margin-bottom: 6rem;
    border: 1px solid rgb(36, 36, 36);
    margin-right: 3%;
    transition: background-color 0.5s ease 0s;
    text-decoration: none;  
}
.kYRkW {
    width: 100%;
}

.cNExhP .WrapBlogImage-sc-dgaymv-6 {
    position: relative;
}
.cNExhP .WrapBlogImage-sc-dgaymv-6::before {
    display: block;
    content: "";
    width: 100%;
    padding-top: 56.686%;
}

.cNExhP .WrapBlogImage-sc-dgaymv-6 > * {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    object-fit: cover;
}
.gatsby-image-wrapper * {
    transition: opacity 500ms ease 0s !important;
}
.bccJmN {
    padding: 0.5rem;
}
.bccJmN span {
    color: rgb(247, 78, 161);
    font-family: Figtree, sans-serif;
    font-weight: 700;
    letter-spacing: 0.15rem;
    font-size: 15px;
    text-transform: uppercase;
    margin-bottom: 0.5rem;
    margin-right: 1.5rem;
    line-height: 1.75;
}
.bccJmN h2 {
    color: rgb(36, 36, 36);
    font-family: Figtree, sans-serif;
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: -0.075rem;
    margin-top: 1.2rem;
    margin-bottom: 0px;
    transition: color 0.25s ease 0s;
}
/* ------- */
.footer2 {
    background-color: rgb(36, 36, 36);
    padding: 70px 0;
}
.container2 {
    max-width: 1170px;
    margin: auto;
}
.row2 {
    display: flex;
    flex-wrap: wrap;
    font-family: figtree, sans-serif;
}
.foot {
    display: flex;
}
.footer2-col {
    padding: 0 15px;
    margin: 10px 85px 5px 5px;
}
.footer-p {
    font-weight: bolder;
    font-size: 19px;
    color: #fff;
    border-bottom: 3px solid #e91e63;
    width: 100px;
    line-height: 40px;
}
.footer2-col ul li a {
    font-size: 16px;
    text-transform: capitalize;
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;
    color: #bbbbbb;
    display: block;
    transition: all 0.3s ease;
    margin-top: 15px;
}
.footer-2 {
    display: flex;
}
.footer2-col .social-links a {
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255,255,255,0.2);
    margin: 0 2px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #ffffff;
    transition: all 0.5s ease;
}
.fa-facebook-f:before {
    content: "\f39e";
}

.iconn{
    margin-top: 12px;
}

